$blue-color: #1C64F2;
$white-color: #FFFFFF;
$dark-color: #111928;
$dark-color-hover: #11192810;
$blue-color-hover: #1c63f2c4;
$grey-color: #4B5563;
$font-weights: (
    'regular': 400,
    'medium': 500,
);

$font-families: (
    'primary': 'Inter',
    'secondary': 'Lexend',
);

@function pickWeight($weight-name) {
    @return map-get($font-weights, $weight-name)
};

@function pickFamily($family-name) {
    @return map-get($font-families, $family-name)
};

@mixin fontInter {
    font-weight: pickWeight(regular);
    font-family: pickFamily(primary);
}

@mixin fontLexend {
    font-family: pickFamily(secondary);
    font-weight: pickWeight(medium);
}

@mixin flexAlignment($align, $direction) {
    display: flex;
    justify-content: $align;
    flex-direction: $direction;
};