.header {
    // max-width: 1280px;
    max-width: 83.35%;
    width: 100%;
}

.navigation {
    @include flexAlignment(space-between, row);
    align-items: center;

    &__logo {
        width: 64px;
    }
}

.navigation__container {
    @include flexAlignment(space-between, row);
    align-items: center;
    width: 50%;
}

.navigation__link {
    font-weight: pickWeight(regular);
    font-family: pickFamily(primary);
    font-size: 14px;
    color: $dark-color;
    margin-right: 25px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10%;

    &:last-of-type {
        margin-right: 0;
    }

    &:hover {
        background-color: $dark-color-hover;

    }
}

.link-colored {
    padding: 14px 12px;
    background-color: $blue-color;
    border-radius: 50px;
    color: $white-color;

    &:hover {
        background-color: $blue-color-hover;
    }
}